.container {
    padding: 0 15px;
}

.container h3 {
    text-align: center;
    text-transform: capitalize;
}

.container .posted-date {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
}
.container p {
    text-align: justify;
    color: var(--ion-color-medium-shade);
    font-size: 14px;
}

.posted-date p {
    color: var(--ion-color-medium-tint);
}

img{
    height: 187px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

ion-col{
    padding: 0px;
}