h1{
    color: var(--ion-color-medium-shade);
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 5px;
}

img{
    height: 187px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

ion-col{
    padding: 0px;
}

.border {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(128,128,128, 0.3);
}

.description {
    text-align: justify;
    color: var(--ion-color-medium-tint);
    font-size: 14px;
}
.article-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-info>div ion-icon {
    font-size: 25px;
    color: var(--ion-color-medium-tint);

    &:first-child{
        margin-right: 25px;
    }
}



time{
    font-size: 10px;
    color: var(--ion-color-medium-tint);
}

@media only screen and (max-width: 330px) {
    h1{
        font-size: 13px;
    }
} 

// @media only screen and (max-width: 768px) {
//     img{
//         height: 400px;
//     }
// } 