<app-header title="Galeria"></app-header>

<ion-content>
  <ion-grid class="ion-padding-vertical">
    <ion-row class="ion-justify-content-center ion-padding-top" *ngFor="let photo of photos">
      <ion-col size="11.5">
        <article>
          <img [src]="photo.url">
          <h1>{{photo.description}}</h1>
          <div class="article-info">
            <time>01 January 2019</time>
           </div>
        </article>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <app-header title="Galeria de fotos"></app-header>

<ion-content>

  <div class="container">
    <ion-card  *ngFor="let photo of photos">
      <img src="{{photo.url}}"/>
      <ion-card-header>
        <ion-card-title>{{photo.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{photo.description}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->
