h1{
    color: var(--ion-color-medium-shade);
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 5px;
}

img{
    height: 187px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

ion-col{
    padding: 0px;
}

.article-info{
    display: flex;
    align-items: center;
}


time{
    font-size: 10px;
    color: var(--ion-color-medium-tint);
}

@media only screen and (max-width: 330px) {
    h1{
        font-size: 13px;
    }
}