<app-header [hasMenu]="false" [hasCloseOption]="true"></app-header>

<ion-content>
    <form [formGroup]="newForm">
        <ion-row class="ion-justify-content-center cpf-input">
            <ion-col size="11">
                <ion-label>Título</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size="11">
                <ion-label>Descrição</ion-label>
                <ion-textarea rows="10" formControlName="description"></ion-textarea>
            </ion-col>
        </ion-row>
    </form>

    <ion-row class="ion-justify-content-center button-margin">
        <ion-col size="11">
            <ion-button (click)="addNote()">Adicionar</ion-button>
        </ion-col>
    </ion-row>
</ion-content>