<app-header [hasMenu]="false" [hasCloseOption]="true"></app-header>

<ion-content>
    <form [formGroup]="newForm">

        <ion-row class="ion-justify-content-center">
            <ion-col size="11">
                <ion-label>Título</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size="11">
                <ion-label>Descrição</ion-label>
                <ion-textarea rows="10" formControlName="description"></ion-textarea>
            </ion-col>
        </ion-row>
    </form>

    <ion-item lines="full" *ngIf="!isEditFile && file">
        <ion-thumbnail slot="start">
            <img [src]="file" />
        </ion-thumbnail>
        <ion-buttons slot="end">
            <ion-icon name="trash-outline" class="icon-action" (click)="deleteFile()"></ion-icon>
        </ion-buttons>
    </ion-item>

    <ion-list mode="md" *ngIf="isEditFile && file">
        <ion-item lines="full">
          <ion-label class="image-name">
            {{ file.name }}
          </ion-label>
          <ion-buttons slot="end">
            <ion-icon name="trash-outline" class="icon-action" ></ion-icon>
          </ion-buttons>
        </ion-item>
      </ion-list>

    <ion-row class="ion-justify-content-center button-margin">
        <ion-col size="11">
            <ion-button mode="md" fill="clear" class="clear-button" (click)="getFile()">
                <ion-icon name="images"></ion-icon>
            </ion-button>
            <ion-button mode="md" class="custom-button" (click)="addNote()" *ngIf="!news" [disabled]="newForm.invalid">
                Adicionar
            </ion-button>
            <ion-button class="custom-button" (click)="editNew()" *ngIf="news" [disabled]="newForm.invalid">
                Editar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>