ion-col.image-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    min-height: 200px;
}

ion-col ion-avatar {
    margin: 5px 10px;

    img {
        object-fit: cover;
    }
}

.select-custom {
    border: 1px solid #DFE4EB;
    border-radius: 7px;
    margin-top: 10px;
}

.selected {
    border: 4px solid rgba(45, 112, 229, 1);
}