<app-header title="Contato"></app-header>

<ion-content>

  <div class="container">
    <ion-list mode="md">
      <ion-item>
        <ion-label>
          <p>(81) 98672-0432 / (81) 98749-5408</p>
          <!-- <p>(81) 98749-5408</p> -->
        </ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>desportivope@hotmail.com</p>
        </ion-label>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>@ligapernambucanadevoleibol</p>
        </ion-label>
        <ion-icon name="logo-instagram" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>