<app-header title="Notícias"></app-header>

<ion-content>

  <div class="container">
    <ion-item lines="none" *ngFor="let i of [].constructor(20)" (click)="openNewDetail()">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label>
              <h4>Jogos</h4>
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quod placeat incidunt expedita, hic maiores perferendis deserunt natus iusto suscipit consequuntur, dolores minus repellat eius! Similique ex soluta odit neque. </h6> 
              <!-- <p>19/12/2021 00:00</p> -->
              <p>{{1642213249963 | date:'dd/MM/yyyy'}} - {{1642213249963 | date:'H:mm'}}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddDetailModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
