<app-header title="Notícias"></app-header>

<ion-content>

  <div class="container">
      <ion-item lines="none"  *ngFor="let new of news">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center"  (click)="openNewDetail(new)">
            <ion-col>
              <ion-label>
                <h4>{{new.title}}</h4>
                <h6>{{new.description}}</h6>
                <!-- <p>19/12/2021 00:00</p> -->
                <p>{{new.publishedDate | date:'dd/MM/yyyy'}} - {{new.publishedDate | date:'H:mm'}}</p>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-right action-buttons">
            <ion-col class="ion-no-padding">
              <ion-icon name="create-outline"></ion-icon>
              <ion-icon name="trash-outline" (click)="deleteNew(new.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>    
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddDetailModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>