<app-header [hasMenu]="false" [hasCloseOption]="true"></app-header>

<ion-content>
  <form [formGroup]="photoForm">
    <ion-row class="ion-justify-content-center  ">
      <ion-col size="11">
        <ion-label>Título</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-label>Descrição</ion-label>
        <ion-textarea rows="10" formControlName="description"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-list  mode="md" *ngFor="let path of filesList; let i = index">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img [src]="path" />
        </ion-thumbnail>
        <ion-buttons slot="end">
          <ion-icon name="trash-outline" class="icon-action" (click)="removeImageList(i)"></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-list>

  </form>
  <ion-row class="ion-justify-content-center button-margin">
    <ion-col size="11">
      <ion-button mode="md" fill="clear" class="clear-button">
        <label for="file-upload" class="custom-file-upload">
          <ion-icon name="images"></ion-icon>
        </label>
        <input type="file" id="file-upload" (change)="fileUpload($event)" multiple />
      </ion-button>
      <ion-button class="custom-button" (click)="addPhoto()" *ngIf="!photo">Adicionar Galeria</ion-button>
      <ion-button class="custom-button" (click)="updateGallery()" *ngIf="photo">Editar Galeria</ion-button>
    </ion-col>
  </ion-row>
</ion-content>