.upload{
    width: 100% !important;
}

.container {
    position: relative;
    text-align: center;
}
.action-buttons  {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    margin: 5px 0;
    ion-icon {
        font-size: 20px;
        color: white;

        &:first-child {
            margin-right: 30px;
        }
    }
}

.icon-action{
    padding: 10px;
    font-size: 25px;
    color: var(--ion-color-medium-shade);
}
