<app-header [hasMenu]="false" [hasCloseOption]="true"></app-header>

<ion-content>
    <form [formGroup]="photoForm">
      <ion-row class="ion-justify-content-center cpf-input">
          <ion-col size="11">
              <ion-label>Título</ion-label>
              <ion-input type="text" formControlName="title"></ion-input>
          </ion-col>
      </ion-row>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Select File</ion-card-title>
        </ion-card-header>
    
        <ion-button color="danger">
          <input type="file" class="upload" (change)="fileUpload($event)" multiple/>
        </ion-button>
      </ion-card>
  
    </form>
    <ion-row class="ion-justify-content-center button-margin">
      <ion-col size="11">
          <ion-button class="custom-button" (click)="addPhoto()" *ngIf="!photo">Adicionar Foto</ion-button>
          <ion-button class="custom-button" *ngIf="photo">Editar Foto</ion-button>
      </ion-col>
    </ion-row>
</ion-content>