<app-header title="História da Liga"></app-header>

<ion-content>

  <div class="container">
    <p>
      A Liga surgiu em Janeiro de 2020, antes pandemia do covid 19, a ideia inicial, era criar uma competição que
      pudesse movimentar a modalidade esportiva no Nordeste, prezando por uma categoria que não é tão valorizada na
      modalidade que é o Adulto,
      desta forma eu queria que fosse algum diferente, nunca antes tentado, em um novo formato, único, organizado e
      competitivo,
      onde pudesse jogar muito e gastar pouco, ver grandes espetáculos do voleibol,
      desta forma incentivar cada dia mais a participação de novos atletas e novas equipes no cenário do voleibol
      nordestino,
      onde houvesse a união da capital ao interior, do agreste ao sertão, entres os estados do nordeste,
      e o principal que todos tivesse o mesmo objetivo (Desenvolver o Voleibol).
    </p>

    <p>Ass: Adison Souto (Gerente da Liga Pernambucana de Voleibol)</p>
  </div>

</ion-content>