* {
    font-family: 'Gilroy-bold';
}

ion-content {
    --background: var(--grey-background);
    // --background: linear-gradient(90deg, rgba(14,59,140,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
}

ion-list {
    background-color: var(----grey-background) !important;
}

ion-item {
    --background: var(--grey-background);
}

ion-segment.md {
    --background: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%);

    ion-segment-button {
        font-family: Gilroy-bold;
        font-size: 12px;
        text-transform: capitalize;

        --indicator-color: var(--white);
        --color-checked: var(--white);
        --color: rgba(255, 255, 255, 0.6);
    }
}

ion-segment.ios {
    --background: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%);
    border-radius: 0;

    ion-segment-button {
        font-family: Gilroy-bold;
        font-size: 12px;

        --indicator-color: var(--white);
        --color-checked: var(--ion-color-medium-shade);
        --color: rgba(255, 255, 255, 0.6);
    }
}

ion-fab {
    ion-fab-button {
        --background: rgba(45, 112, 229, 1);
    }
}

form {
    margin-top: 32px;
}

ion-input, ion-textarea {
    border: 1px solid #DFE4EB; 
    color: var(--ion-color-medium-tint)  !important;
    border-radius: 7px;
    margin-top: 10px;
    font-family: "Gilroy-bold" !important;

    --padding-start: 10px  !important;
    --padding-end: 10px  !important;
}

ion-label{
    color:var(--ion-color-medium-shade);
    font-size: 14px;
    margin-bottom: 5px;
}

ion-button.custom-button {
    --background: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%) !important;
    --color: var(--ion-color-light)!important;
    --background-activated: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%) !important;
    height: 50px;
    --border-radius: 10px;
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
}

.clear-button {
    --border-radius: 10px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%) !important;
    height: 50px;
    width: 100%;
}

.clear-button ion-icon {
    color: var(--ion-color-medium-shade);
    font-size: 25px;
}

.button-margin {
    margin-top: 32px;
}

// FOR LOADING
ion-spinner {
    color: rgba(45, 112, 229, 1) !important;
}

.loading-wrapper.sc-ion-loading-md {
    background: transparent;
    box-shadow: none;
}

// FOR TOAST

.toast-error {
    --background: var(--ion-color-danger-tint);
    --color:white !important;
    --button-color: #ffff;
}

.toast-success {
    --background: rgba(45, 112, 229, 1);
    --color:white !important;
    --button-color: #ffff;
}

.toast-error .button-inner {
    color:  white!important;
}

// FOR THE ION-SELECT 

ion-select::part(text) {
    color: var(--ion-color-medium-tint);
    text-transform: capitalize;
}

.action-sheet-button-inner.sc-ion-action-sheet-md, 
.action-sheet-button-inner.sc-ion-action-sheet-ios {
    color: var(--ion-color-medium-tint);
    text-transform: capitalize;
}

//FOR THE ION-DATETIME

ion-datetime {
    color: var(--ion-color-medium-tint);
}

.sc-ion-picker-md-h,
.sc-ion-picker-io-h {
    color: var(--ion-color-medium-tint);
}