* {
    font-family: 'Gilroy-bold';
}

ion-content {
    --background: var(--grey-background);
    // --background: linear-gradient(90deg, rgba(14,59,140,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
}

ion-list {
    background-color: var(----grey-background) !important;
}

ion-item {
    --background: var(--grey-background);
}

ion-segment.md {
    --background: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%);

    ion-segment-button {
        font-family: Gilroy-bold;
        font-size: 12px;
        text-transform: capitalize;

        --indicator-color: var(--white);
        --color-checked: var(--white);
        --color: rgba(255, 255, 255, 0.6);
    }
}

ion-segment.ios {
    --background: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%);
    border-radius: 0;

    ion-segment-button {
        font-family: Gilroy-bold;
        font-size: 12px;

        --indicator-color: var(--white);
        --color-checked: var(--ion-color-medium-shade);
        --color: rgba(255, 255, 255, 0.6);
    }
}

ion-fab {
    ion-fab-button {
        --background: rgba(45, 112, 229, 1);
    }
}

form {
    margin-top: 32px;
}

ion-input, ion-textarea {
    border: 1px solid #DFE4EB; 
    color: var(--ion-color-medium-tint)  !important;
    border-radius: 7px;
    margin-top: 10px;
    font-family: "Gilroy-bold" !important;

    --padding-start: 10px  !important;
    --padding-end: 10px  !important;
}

ion-label{
    color:var(--ion-color-medium-shade);
    font-size: 14px;
    margin-bottom: 5px;
}

ion-button.custom-button {
    --background: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%) !important;
    --color: var(--ion-color-light)!important;
    --background-activated: linear-gradient(80deg, rgba(45, 112, 229, 1) 35%, rgba(14, 59, 140, 1) 100%) !important;
    height: 50px;
    --border-radius: 10px;
    width: 100%;
    font-size: 14px;
    text-transform: capitalize;
}

.button-margin {
    margin-top: 32px;
}

// FOR LOADING
ion-spinner {
    color: rgba(45, 112, 229, 1) !important;
}

.loading-wrapper.sc-ion-loading-md {
    background: transparent;
    box-shadow: none;
}