@font-face {
    font-family: Gilroy-heavy;
    font-weight: 300;
    src: url("../assets/fonts/gilroy/gilroy-heavy.ttf");
}

@font-face {
    font-family: Gilroy-bold;
    font-weight: 300;
    src: url("../assets/fonts/gilroy/gilroy-bold.ttf");
}