<app-header title="Regulamento"></app-header>

<ion-content>

  <div class="container">
      <ion-item lines="none" *ngFor="let regulation of regulations">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-label>
                <h4>{{regulation.title}}</h4>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-right action-buttons">
            <ion-col class="ion-no-padding">
              
              <a [href]="regulation.filepath" rel="nofollow" target="_blank">
                <ion-icon name="download-outline"></ion-icon>
              </a>
              <ion-icon name="create-outline" (click)="openAddDetailModal(regulation)"></ion-icon>
              <ion-icon name="trash-outline" (click)="delete(regulation.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddDetailModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>