<app-header title="Documentos"></app-header>

<ion-content>

  <div class="container">
    <ion-item lines="none" *ngFor="let regulation of regulations">
      <ion-label>
        <h4>{{regulation.title}}</h4>
      </ion-label>
      <ion-icon slot="end" name="download-outline" (click)="downloadFile(regulation.filepath)"></ion-icon>
      <ion-icon slot="end" name="trash-outline" (click)="deleteRegulation(regulation)" *ngIf="isAdmin"></ion-icon>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isAdmin">
    <ion-fab-button (click)="openAddDetailModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>