<app-header title="Equipes" [hasNoBorder]="true"></app-header>


<ion-content>
  <ion-segment [(ngModel)]="teamGender">
    <ion-segment-button value="male">
      Masculino
    </ion-segment-button>
    <ion-segment-button value="female">
      Feminino
    </ion-segment-button>
  </ion-segment>

  <div class="container" [ngSwitch]="teamGender">
    <ng-container *ngSwitchCase="'male'">
      <div class="content">
        <ion-list lines="none" *ngFor="let i of [].constructor(10)">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../../assets/imgs/teams/feminine/caruaru-logo.png" />
            </ion-thumbnail>
            <ion-label>
              <h3>Caruaru</h3>
              <p>Caruaru - Pe</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'female'">

     </ng-container>
  </div>
</ion-content>