.container {
    margin-top: 20px;
}

ion-item ion-icon {
    font-size: 20px;
    color: var(--ion-color-medium-shade);
}

ion-list .players-name {
    padding-left: 16px;

    white-space: nowrap;
    overflow: hidden;

    p {
        color: var(--ion-color-medium-tint);
        margin: 8px 0 8px 0;
        font-size: 12px;
        text-transform: capitalize;

        text-overflow: ellipsis;
        overflow: hidden;
    }
}

ion-list.ios .players-name {
    padding-left: 20px;
}

ion-item ion-label p {

    text-transform: capitalize;
}
