<app-header title="Jogos" [hasNoBorder]="true"></app-header>

<ion-content>
  <ion-segment [(ngModel)]="teamGender">
    <ion-segment-button value="male">
      Masculino
    </ion-segment-button>
    <ion-segment-button value="female">
      Feminino
    </ion-segment-button>
  </ion-segment>

  <div class="container" [ngSwitch]="teamGender">
    <ng-container *ngSwitchCase="'male'">
      <div class="ion-padding">

        <div class="meetings-example">
          <div class="meeting-wrapper">
            <ion-card class="meeting-card" mode="ios" *ngFor="let gameMale of gamesMale">
              <ion-card-content class="meeting-card-content">
                <ion-row>
                  <ion-col>
                    <p class="meeting-title">{{gameMale.gameNumber}}</p>
                    <p class="meeting-title">{{gameMale.fisrtTeam}}</p>
                    <p class="meeting-title">{{gameMale.secondTeam}}</p>
                    <p class="meeting-hours">
                      <ion-icon name="location-outline"></ion-icon>
                      {{gameMale.place}}</p>
                    <p class="meeting-hours">
                      <ion-icon name="time-outline"></ion-icon>
                      {{gameMale.gameDate}}</p>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-text-right action-buttons">
                  <ion-col class="ion-no-padding">
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-icon name="trash-outline" (click)="deleteGame(gameMale.id)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'female'">
      <div class="ion-padding">

        <div class="meetings-example">
          <div class="meeting-wrapper">
            <ion-card class="meeting-card" mode="ios" *ngFor="let gameFemale of gamesFemale">
              <ion-card-content class="meeting-card-content">
                <ion-row>
                  <ion-col>
                    <p class="meeting-title">{{gameFemale.gameNumber}}</p>
                    <p class="meeting-title">{{gameFemale.fisrtTeam}}</p>
                    <p class="meeting-title">{{gameFemale.secondTeam}}</p>
                    <p class="meeting-hours">
                      <ion-icon name="location-outline"></ion-icon>
                      {{gameFemale.place}}</p>
                    <p class="meeting-hours">
                      <ion-icon name="time-outline"></ion-icon>
                      {{gameFemale.gameDate}}</p>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-text-right action-buttons">
                  <ion-col class="ion-no-padding">
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-icon name="trash-outline" (click)="deleteGame(gameFemale.id)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddGameModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>